@import '../../global.scss';


.work{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    @include mobile{
        overflow: hidden;
    }



    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }
        

        &.left{
            left: 100px;
            transform: rotateY(180deg);

        }

        &.right{
            right: 100px;
            
        }
        
    }


    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;


        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            
            
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;


                @include mobile{
                    width: 90%;
                    height: 180px;
                    margin: 8px 0;
                    overflow: hidden;
                    
                }


                .left{
                    flex: 4;
                    height: 33vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2vh;


                    

                    .leftContainer{
                        width: 50vh;
                        height: 32vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile{
                            width: 30vh;
                            height: 30vh;
                            justify-content:start;

                            
                        }


                        .imgContainer{
                            width: 8vh;
                            height: 8vh;
                            border-radius: 50%;
                            background-color: rgb(245, 179, 155);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            @include mobile{
                                display: none;
                                
                            }


                        img{
                            width: 7vh;
                            height: 6vh;
                            padding-top: 1vh;

                            @include mobile{
                               display: none;
                                
                            }

                             
                        }
                    }
                    h2{
                        font-size: 24px;

                        @include mobile{
                            margin-top: 5vh;
                            font-size: 3vh;
                            font-weight: bolder;
                            
                        }
                    }
                    p{
                        font-size: 13px;
                        font-weight: 500;

                        @include mobile{
                           margin-top: 1vh;
                            font-size: 16px;
                            
                        }
                    }
                    span{
                        font-size: 13px;
                        font-weight: 600;
                        text-decoration: underline;
                        cursor: pointer;

                        @include mobile{
                            display: none;
                            
                        }
                    }


                    
                }
                }


                .right{
                    flex: 8;
                    height: 55vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include mobile{
                        display: none;
                        
                    }

                    img{
                        height: 50vh;
                        width: 65vh;
                        transform: rotate(-5deg);


                        @include mobile{
                            display: none;
                            
                        }
                    }
                }
            }
        }
    }


    
}